body {
  background-color: #849d8f;
  font-family: Roboto;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.nav-catalog li:first-child {
  border-bottom: 1px solid #d1d1ce;
}

.ask-info-textarea {
  width: 428px;
  height: 155px;
}

.banner {
  width: 560px;
  height: 229px;
  margin-top: 41px;
  margin-bottom: 40px;
}

.radius {
  border-radius: 15px;
}

.banner-raspberry {
  /*  почему не подхватывает через /img/raspberries-back.jpg*/
  background-image: url(/img/raspberries-background.jpg);
  float: left
}

.banner-choco {
  background-image: url(/img/chocolate-background.jpg);
  float: right;
}

.main-index-gllacyinfo {
  /*  кусок текстуры через repeat или вырезать целиком?*/
  background-image: url(/img/aboutus-wafer.jpg);
}

.main-index-news {
  background-image: url(/167251-gllacy/img/news-background.jpg);
  width: 560px;
  /*  высоту блока в дальнейшем будет определяться элементами внутри*/
  height: 220px;
}

.main-index-subscribe {
  background-image: url(/167251-gllacy/img/subscribe-background.jpg);
  width: 560px;
  /*  высоту блока в дальнейшем будет определяться элементами внутри*/
  height: 220px;
}

.for-shippers::before {
  /*  этот класс для li или для ссылки лучше?*/
  content: url(/167251-gllacy/img/shippers-heart.png);
  position: absolute;
  margin-left: -22px;
}

.banner-promo {
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

.icephoto-radius {
  margin: 0;
  padding: 0;
  border-radius: 140px;
}

.for-hit-icon::before {
  content: url(/img/hit-icon.png);
  position: absolute;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.main-header-nav {
  float: left;
  margin-top: 20px;
  margin-left: 25px;
  width: 400px;
}

.main-header-logo {
  float: left;
  width: 154px;
}

.main-header-userform {
  float: right;
  margin-top: 20px;
  width: 265px;
}

.main-header-nav li {
  display: inline-block;
  padding-right: 29px;
}

ul {
  margin: 0;
  padding: 0;
}

.main-index-schedule {
  clear: both;
  width: 175px;
  margin-left: 975px;
  line-height: 10px;
  color: #ffffff;
}

.nav-catalog {
  display: none;
  position: absolute;
  width: 143px;
  height: 171px;
  background-color: #ffffff;
  border-radius: 10px;
}

.nav-catalog li {
  display: block;
  padding-left: 20px;
  padding-bottom: 10px;
}

.hover-catalog:hover .nav-catalog {
  display: block;
}

.ask-info {
  display: none;
}

.form-search {
  display: none;
}

.form-login {
  display: none;
}

.main-index-slider2 {
  display: none;
}

.main-index-slider3 {
  display: none;
}

.main-index-slider1 img {
  margin-left: 51px;
}

.slider-description {
  width: 670px;
  height: 116px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  margin-left: 241px;
  margin-top: -494px;
  margin-bottom: 30px;
}

.main-index-slider1 a {
  /* почему просвечивает цвет кнопки */
  box-sizing: border-box;
  display: inline-block;
  width: 278px;
  height: 63px;
  margin-left: 370px;
  text-decoration: none;
  color: #ffffff;
  font-family: Roboto;
  font-size: 30px;
  font-weight: bold;
  background-color: #e84d37;
  text-align: center;
  padding-top: 20px;
  border-radius: 30px;
}

.main-index-sliderbtn {
  display: inline-block;
  margin-left: 0;
}

.icephoto-hit {
  clear: both;
  display: inline-block;
  width: 267px;
  padding-right: 16px;;
}
