html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #849d8f;
  font-family: Roboto;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  font-weight: bold;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  padding: 0 27px;
  margin: 0 auto;
}

.ask-info {
  /* временно скрываем */
  display: none;
}

.form-search {
  /* временно скрываем */
  display: none;
}

.form-login {
  /* временно скрываем */
  display: none;
}

.nav-catalog {
  /* временно скрываем */
  display: none;
}

.main-index-slider2 {
  /* временно скрываем */
  display: none;
}

.main-index-slider3 {
  /* временно скрываем */
  display: none;
}

.banner-raspberry {
  background-image: url(../img/raspberries-background.jpg);
  background-repeat: no-repeat;
}

.banner-choco {
  background-image: url(../img/chocolate-background.jpg);
  background-repeat: no-repeat;
}

.where-map img {
  margin-left: -27px;
}
.main-header-logo {
  width: 154px;
  float: left;
  margin-right: 26px;
}

.main-header-nav {
  width: 348px;
  float: left;
}

.main-header-userform {
  width: 261px;
  float: right
}

.clearfix {
  content: "";
  display: table;
  clear: both;
}

.main-index-schedule {
  width: 165px;
  margin-left: 1009px;
  text-align: right
}


